
body {
	font-family: 'Roboto', sans-serif;
	background: #FFF;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto', sans-serif;
}
a:hover,a:focus{
	outline: none;
	text-decoration: none;
}
/*header*/
.header{
	position: relative;
    color: #FFF;
    text-align: center;
    height: 500px;
    background: url("../images/bg-header.png") no-repeat top center #000000;
}
.topbar{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.logo img{
	display: inline-block;
}
.title h4{
	text-transform: none;
	font-size: 20px;
	font-weight: 300;
	margin-top: 55px;
	line-height: 40px;
	color: #FFF;
}
/* end header */

/* content-container */
.content-container{
	margin-bottom: 50px;
}
.text-heading {
	font-weight: 700;
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin: 25px 0 80px 0px;
	display: block;
	letter-spacing: 4px;
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
.content-button{
	padding-top: 20px;
}
.content{
	padding-top: 80px;
}
.demo:hover .text-heading span{
	color: #c8ad73;
}
.image-bg{
	background-color: #f3f3f3;
	width: 100%;
	height: 440px;
	display: inline-block;
	position: relative;
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	padding: 0px 2px 2px 2px;
}
.image-bg:hover{
	background-color:#c8ad73;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.image-bg:hover  span{
	opacity: 1;
	filter: alpha(opacity=100);
}
.img-content{
	overflow: hidden;
	transition: all 5s ease-out 0s;
	-webkit-transition: all 5s ease-out 0s;
	-moz-transition: all 5s ease-out 0s;
	-ms-transition: all 5s ease-out 0s;
	-o-transition: all 5s ease-out 0s;
	background-position: center 0;
	background-repeat: no-repeat;
	position: absolute;
	width: 97%;
	height: 430px;
	top: 5px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.image-bg img{
	width: 100%;
}
.image-bg:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	filter: alpha(opacity=0);
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.image-bg:hover:before{
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}

.image-bg:hover .img-content{
	background-position: center 100%!important;
	opacity: 1;
	filter: alpha(opacity=100);
}
/*footer-link*/
.footer-link{
	padding: 85px 0;
	background: url("../images/bg-footer.png") no-repeat top center #000000;
}
.footer-link .btn_footer .btn{
	color: #fff;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	height: 64px;
	padding: 0 28px;
	line-height: 64px;
	min-width: 226px;
	text-transform: uppercase;
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	border-radius: 0;
	background: #d5b281;
}
.footer-link .btn_footer .btn:hover{
	background: #ec968e;
}
.text-footer h2{
	padding: 0px;
	margin: 0px;
	display: inline-block;
	text-align: left;
	font-weight: 700;
	font-size: 35px;
	line-height: 46px;
	color: #FFF;
}
/* RESPONSIVE */
@media (max-width: 991px){
	.footer-link{
		text-align: center;
	}
	.text-footer h2{
		margin-bottom: 20px;
	}
}